/target/
/modules/Launcher/target/
/modules/Core/target/
/modules/Login/target/
/modules/Distribution/target/
/modules/Listener/target/
/modules/OpenLobby-Commons/target/
/modules/Commons/target/
/modules/Logging/target/
/modules/Messenger/target/
/modules/Test/target/
/modules/Chat/target/
/modules/Battle/target/
/modules/List/target/
/modules/Wrapper/target/
/modules/Communication/target/
/modules/IO/target/

*/nbactions.xml
*/nb-configuration.xml
*/module
*/felix-cache
/modules/Primer/target/